<template>
  <div class="app-container">
    <div class="face-order-manage">
      <el-select
        v-model="table.params.state"
        filterable
        clearable
        placeholder="订单状态"
        style="width: 120px;"
      >
        <el-option
          v-for="item in requestState"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-button
        type="primary"
        size="mini"
        icon="el-icon-search"
        :loading="table.loading"
        @click="faceOrderList(true)"
      >
        搜索
      </el-button>
      <el-button
        icon="el-icon-refresh"
        circle
        :loading="table.loading"
        @click="faceOrderList(true)"
      />
    </div>
    <el-table
      :data="table.rows"
      stripe
    >
      <el-table-column
        label="ID"
        prop="id"
        width="50"
      />
      <el-table-column
        label="用户名"
        prop="username"
      />
      <el-table-column
        label="订单号"
        prop="order_number"
      />
      <el-table-column
        label="金额"
        prop="amount"
      />
      <el-table-column
        label="状态"
        prop="state_label"
      />
      <el-table-column
        label="提交时间"
        prop="creation_time"
      />
      <el-table-column
        label="详情"
      >
        <template #default="props">
          <el-button
            @click="detailsTable(props.row)"
          >
            查看详情
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="table.page"
      :page-size="table.size"
      :total="table.count"
      :page-sizes="[10, 20, 50, 100, 200, 500]"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="onSizeChange"
      @current-change="onPageChange"
    />
    <el-dialog
      title="面相详情"
      :visible.sync="form.visible"
      :close-on-click-modal="false"
    >
      <el-form
        label-width="120px"
        @submit.native.prevent
      >
        <el-form-item label="图片">
          <el-image :src="form.params.url" />
        </el-form-item>
        <el-form-item label="留言">
          <el-input
            v-model="form.params.remark"
          />
        </el-form-item>
        <el-form-item label="面相概述">
          <el-input
            v-model="form.params.overview"
            type="textarea"
          />
        </el-form-item>
        <el-form-item label="眼睛解析">
          <el-input
            v-model="form.params.eye_analysis"
            type="textarea"
          />
        </el-form-item>
        <el-form-item label="嘴相解析">
          <el-input
            v-model="form.params.mouth_analysis"
            type="textarea"
          />
        </el-form-item>
        <el-form-item label="鼻相解析">
          <el-input
            v-model="form.params.nose_analysis"
            type="textarea"
          />
        </el-form-item>
      </el-form>

      <template #footer>
        <el-button @click="updateFaceReport(form.params)">
          确认更改
        </el-button>
        <el-button @click="form.visible = false">
          取消
        </el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TableVo from '@/models/vos/TableVo'
import UserApi from '@/api/UserApi'
import FormVo from '@/models/vos/FormVo'

    /**
     * 面相订单管理
     */
    @Component({})
export default class FaceOrderManage extends Vue {
        table = new TableVo({
          state: ''
        });
        public form = new FormVo({
          id: '',
          url: '',
          remark: '',
          overview: '',
          eye_analysis: '',
          mouth_analysis: '',
          nose_analysis: ''
        });

        // 状态
        get requestState() {
          return [{ value: '1', label: '未付款' }, { value: '2', label: '已付款' }, { value: '3', label: '付款失败' }]
        }
        onSizeChange(size: number) {
          this.table.size = size
          this.faceOrderList()
        }
        onPageChange(page: number) {
          this.table.page = page
          this.faceOrderList()
        }
        mounted() {
          this.faceOrderList()
        }
        async faceOrderList(resetPage = false) {
          this.table.loading = true
          if (resetPage) {
            this.table.page = 1
          }
          let vo = await UserApi.getFaceOrderList(this.table.getParams())
          this.table.setByTableDataVo(vo)
          this.table.loading = false
        }
        detailsTable(row: any) {
          this.form.params.id = row.id
          this.form.params.url = row.url
          this.form.params.remark = row.remark
          this.form.params.overview = row.face_report.overview
          this.form.params.eye_analysis = row.face_report.eye_analysis
          this.form.params.mouth_analysis = row.face_report.mouth_analysis
          this.form.params.nose_analysis = row.face_report.nose_analysis
          this.form.visible = true
        }
        /**
         * 更新面相概述
         */
        async updateFaceReport(params: any) {
          this.$confirm('确定更改该面相概述吗?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.table.loading = true
            let isDone = UserApi.updateFaceReport(params)
            if (isDone) {
              this.faceOrderList()
            }
            this.form.visible = false
            this.table.loading = false
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消更改'
            })
            this.faceOrderList()
          })
        }
}
</script>

<style lang="scss">
    @import "../../assets/css/common";

    .app-container {
    }
</style>
