<template>
  <div class="app-container">
    <div class="hospital-order-manage">
      <el-select
        v-model="table.params.state"
        filterable
        clearable
        placeholder="申请状态"
        style="width: 120px;"
      >
        <el-option
          v-for="item in requestState"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-button
        type="primary"
        size="mini"
        icon="el-icon-search"
        :loading="table.loading"
        @click="requestOrderTable(true)"
      >
        搜索
      </el-button>
      <el-button
        icon="el-icon-refresh"
        circle
        :loading="table.loading"
        @click="requestOrderTable(true)"
      />
    </div>
    <el-table
      :data="table.rows"
      stripe
    >
      <el-table-column
        label="ID"
        prop="id"
        width="50"
      />
      <el-table-column
        label="订单号"
        prop="order_number"
      />
      <el-table-column
        label="申请用户"
        prop="member_id"
      />
      <el-table-column
        label="预约金"
        prop="amount"
      />
      <el-table-column
        label="服务项目"
        prop="services"
      />
      <el-table-column
        label="医院"
        prop="hospital_id"
      />
      <el-table-column
        label="预约姓名"
        prop="username"
      />
      <el-table-column
        label="预约电话"
        prop="contact_phone"
      />
      <el-table-column
        label="预约时间"
        prop="appointment_time"
      />
      <el-table-column
        label="状态"
      >
        <template #default="props">
          <el-col v-if="props.row.state === 1">
            审核中
          </el-col>
          <el-col v-else-if="props.row.state === 2">
            审核成功
          </el-col>
          <el-col v-else>
            审核失败
          </el-col>
        </template>
      </el-table-column>
      <el-table-column
        label="申请时间"
        prop="creation_time"
      />
      <el-table-column
        label="详情"
      >
        <template #default="props">
          <el-button
            @click="detailsTable(props.row)"
          >
            查看详情
          </el-button>
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
      >
        <template #default="props">
          <el-button
            v-show="isShowColumn(props.row.state, 1)"
            type="primary"
            @click="onClickRequest(props.row.id, 2)"
          >
            预约成功
          </el-button>
          <el-button
            v-show="isShowColumn(props.row.state, 1)"
            type="danger"
            style="margin-left: 0;"
            @click="onClickRequest(props.row.id, 3)"
          >
            预约失败
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="table.page"
      :page-size="table.size"
      :total="table.count"
      :page-sizes="[10, 20, 50, 100, 200, 500]"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="onSizeChange"
      @current-change="onPageChange"
    />
    <el-dialog
      title="医院申请详情"
      :visible.sync="form.visible"
      :close-on-click-modal="false"
    >
      <el-form
        label-width="120px"
        @submit.native.prevent
      >
        <el-form-item label="订单ID">
          <el-input v-model="form.params.id" />
        </el-form-item>
        <el-form-item label="服务项目">
          <el-input v-model="form.params.services" />
        </el-form-item>
        <el-form-item label="预约医院">
          <el-input v-model="form.params.hospital_id" />
        </el-form-item>
        <el-form-item label="预约申请人">
          <el-input v-model="form.params.member_id" />
        </el-form-item>
        <el-form-item label="预约姓名">
          <el-input v-model="form.params.username" />
        </el-form-item>
        <el-form-item label="预约电话">
          <el-input v-model="form.params.contact_phone" />
        </el-form-item>
        <el-form-item label="预约时间">
          <el-input v-model="form.params.appointment_time" />
        </el-form-item>
        <el-form-item label="状态">
          <el-col v-if="form.params.state === 1">
            审核中
          </el-col>
          <el-col v-else-if="form.params.state === 2">
            审核成功
          </el-col>
          <el-col v-else>
            审核失败
          </el-col>
        </el-form-item>
        <el-form-item label="审核时间">
          <el-input v-model="form.params.update_time" />
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="form.params.remark" />
        </el-form-item>
      </el-form>

      <template #footer>
        <el-button @click="form.visible = false">
          确认
        </el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TableVo from '@/models/vos/TableVo'
import UserApi from '@/api/UserApi'
import FormVo from '@/models/vos/FormVo'

    /**
     * 医院申请管理
     */
    @Component({})
export default class HospitalOrderManage extends Vue {
        table = new TableVo({
          state: ''
        });

        public form = new FormVo({
          id: '',
          member_id: '',
          order_number: '',
          amount: '',
          services: '',
          hospital_id: '',
          username: '',
          contact_phone: '',
          appointment_time: '',
          state: '',
          remark: '',
          creation_time: '',
          update_time: ''
        });

        isShowColumn(state: number, state1: number) {
          return state === state1
        }
        // 申请状态
        get requestState() {
          return [{ value: '1', label: '审核中' }, { value: '2', label: '审核成功' }, { value: '3', label: '审核失败' }]
        }
        onSizeChange(size: number) {
          this.table.size = size
          this.requestOrderTable()
        }
        onPageChange(page: number) {
          this.table.page = page
          this.requestOrderTable()
        }
        mounted() {
          this.requestOrderTable()
        }
        async requestOrderTable(resetPage = false) {
          this.table.loading = true
          if (resetPage) {
            this.table.page = 1
          }
          let vo = await UserApi.getHospitalOrderList(this.table.getParams())
          this.table.setByTableDataVo(vo)
          this.table.loading = false
        }
        /**
         * 更新医院预约订单
         */
        async onClickRequest(id: number, state: number) {
          this.$confirm('确定预约成功?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            if (!id || !state || this.table.loading) {
              return false
            }
            this.table.loading = true
            let isDone = UserApi.updateHospitalOrder({ 'id': id, 'state': state })
            if (isDone) {
              this.requestOrderTable()
            }
            this.table.loading = false
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            })
          })
        }

        detailsTable(row: any) {
          this.form.params.id = row.id
          this.form.params.member_id = row.member_id
          this.form.params.order_number = row.order_number
          this.form.params.amount = row.amount
          this.form.params.services = row.services
          this.form.params.hospital_id = row.hospital_id
          this.form.params.username = row.username
          this.form.params.contact_phone = row.contact_phone
          this.form.params.appointment_time = row.appointment_time
          this.form.params.state = row.state
          this.form.params.remark = row.remark
          this.form.params.creation_time = row.creation_time
          this.form.params.update_time = row.update_time
          this.form.visible = true
        }
}
</script>

<style lang="scss">
    @import "../../assets/css/common";

    .app-container {
        .hospital-order-manage {
        }
    }
</style>
