<template>
  <div class="app-container">
    <div class="hospital-manage">
      <el-input
        v-model="table.params.name"
        clearable
        size="mini"
        placeholder="医院搜索"
        style="width: 200px;"
        @keyup.native.enter="requestHospitalTable(true)"
      />
      <el-button
        type="primary"
        size="mini"
        icon="el-icon-search"
        :loading="table.loading"
        @click="requestHospitalTable(true)"
      >
        搜索
      </el-button>
      <el-button
        icon="el-icon-refresh"
        circle
        :loading="table.loading"
        @click="requestHospitalTable(true)"
      />
    </div>
    <el-table
      :data="table.rows"
      stripe
    >
      <el-table-column
        label="ID"
        prop="id"
        width="80"
      />
      <el-table-column
        label="医院名称"
        prop="name"
      />
      <el-table-column
        label="医院服务类目"
        prop="category"
      />
      <el-table-column
        label="联系方式"
        prop="contact_way"
      />
      <el-table-column
        label="地址"
        prop="address"
      />
      <el-table-column
        label="注册时间"
        prop="creation_time"
      />
      <el-table-column
        label="详情"
      >
        <template #default="props">
          <el-button
            @click="detailsTable(props.row)"
          >
            查看详情
          </el-button>
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
      >
        <template #default="props">
          <el-button
            type="danger"
            @click="delHospital(props.row.id, props.row.name)"
          >
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="table.page"
      :page-size="table.size"
      :total="table.count"
      :page-sizes="[10, 20, 50, 100, 200, 500]"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="onSizeChange"
      @current-change="onPageChange"
    />

    <el-dialog
      title="医院详情"
      :visible.sync="form.visible"
      :close-on-click-modal="false"
    >
      <el-form
        label-width="120px"
        @submit.native.prevent
      >
        <el-form-item label="医院ID">
          <el-input v-model="form.params.id" />
        </el-form-item>
        <el-form-item label="医院申请人">
          <el-input v-model="form.params.member_id" />
        </el-form-item>
        <el-form-item label="服务类目">
          <el-input v-model="form.params.category" />
        </el-form-item>
        <el-form-item label="医院名称">
          <el-input v-model="form.params.name" />
        </el-form-item>
        <el-form-item label="联系方式">
          <el-input v-model="form.params.contact_way" />
        </el-form-item>
        <el-form-item label="地址">
          <el-input v-model="form.params.address" />
        </el-form-item>
        <el-form-item label="门店简介">
          <el-input
            v-model="form.params.brief"
            type="textarea"
            :rows="3"
          />
        </el-form-item>
        <el-form-item label="图片">
          <el-image :src="form.params.icon" />
        </el-form-item>
        <el-form-item label="头部图片">
          <el-image :src="form.params.head_img" />
        </el-form-item>
      </el-form>

      <template #footer>
        <el-button @click="form.visible = false">
          确认
        </el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TableVo from '@/models/vos/TableVo'
import UserApi from '@/api/UserApi'
import FormVo from '@/models/vos/FormVo'

    /**
     * 医院管理
     */
    @Component({})
export default class HospitalManage extends Vue {
        table = new TableVo({
        });
        public form = new FormVo({
          id: '',
          member_id: '',
          category: '',
          name: '',
          icon: '',
          head_img: '',
          contact_way: '',
          address: '',
          brief: '',
          creation_time: ''
        });
        onSizeChange(size: number) {
          this.table.size = size
          this.requestHospitalTable()
        }
        onPageChange(page: number) {
          this.table.page = page
          this.requestHospitalTable()
        }
        mounted() {
          this.requestHospitalTable()
        }
        async requestHospitalTable(resetPage = false) {
          this.table.loading = true
          if (resetPage) {
            this.table.page = 1
          }
          let vo = await UserApi.getHospitalList(this.table.getParams())
          this.table.setByTableDataVo(vo)
          this.table.loading = false
        }
        async delHospital(id: number, name: string) {
          this.$confirm('确定删除【' + name + '】医院吗?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            this.table.loading = true
            let vo = UserApi.delHospital({ 'id': id })
            if (vo) {
              this.requestHospitalTable()
            }
            this.table.loading = false
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            })
          })
        }
        detailsTable(row: any) {
          this.form.params.id = row.id
          this.form.params.member_id = row.member_id
          this.form.params.category = row.category
          this.form.params.name = row.name
          this.form.params.icon = row.icon
          this.form.params.head_img = row.head_img
          this.form.params.contact_way = row.contact_way
          this.form.params.address = row.address
          this.form.params.brief = row.brief
          this.form.params.creation_time = row.creation_time
          this.form.visible = true
        }
}
</script>

<style lang="scss">
    @import "../../assets/css/common";

    .app-container {
        .hospital-manage {
        }
    }
</style>
