<template>
  <div class="app-container">
    <div class="hospital-request-manage">
      <el-select
        v-model="table.params.state"
        filterable
        clearable
        placeholder="申请状态"
        style="width: 120px;"
      >
        <el-option
          v-for="item in requestState"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-button
        type="primary"
        size="mini"
        icon="el-icon-search"
        :loading="table.loading"
        @click="requestRequestTable(true)"
      >
        搜索
      </el-button>
      <el-button
        icon="el-icon-refresh"
        circle
        :loading="table.loading"
        @click="requestRequestTable(true)"
      />
    </div>
    <el-table
      :data="table.rows"
      stripe
    >
      <el-table-column
        label="ID"
        prop="id"
        width="50"
      />
      <el-table-column
        label="医院名称"
        prop="name"
      />
      <el-table-column
        label="联系人"
        prop="contact_person"
      />
      <el-table-column
        label="联系方式"
        prop="contact_way"
      />
      <el-table-column
        label="地址"
        prop="address"
      />
      <el-table-column
        label="状态"
      >
        <template #default="props">
          <el-col v-if="props.row.state === 1">
            审核中
          </el-col>
          <el-col v-else-if="props.row.state === 2">
            审核成功
          </el-col>
          <el-col v-else>
            审核失败
          </el-col>
        </template>
      </el-table-column>
      <el-table-column
        label="申请时间"
        prop="creation_time"
      />
      <el-table-column
        label="详情"
      >
        <template #default="props">
          <el-button
            @click="detailsTable(props.row)"
          >
            查看详情
          </el-button>
        </template>
      </el-table-column>
      <el-table-column
        label="操作"
      >
        <template #default="props">
          <el-button
            v-show="isShowColumn(props.row.state, 1)"
            type="primary"
            @click="onClickRequest(props.row.id, 2)"
          >
            通过
          </el-button>
          <el-button
            v-show="isShowColumn(props.row.state, 1)"
            type="danger"
            style="margin-left: 0;"
            @click="onClickRequest(props.row.id, 3)"
          >
            不通过
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="table.page"
      :page-size="table.size"
      :total="table.count"
      :page-sizes="[10, 20, 50, 100, 200, 500]"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="onSizeChange"
      @current-change="onPageChange"
    />
    <el-dialog
      title="医院申请详情"
      :visible.sync="form.visible"
      :close-on-click-modal="false"
    >
      <el-form
        label-width="120px"
        @submit.native.prevent
      >
        <el-form-item label="医院ID">
          <el-input v-model="form.params.id" />
        </el-form-item>
        <el-form-item label="医院申请人">
          <el-input v-model="form.params.member_id" />
        </el-form-item>
        <el-form-item label="联系人">
          <el-input v-model="form.params.contact_person" />
        </el-form-item>
        <el-form-item label="联系方式">
          <el-input v-model="form.params.contact_way" />
        </el-form-item>
        <el-form-item label="医院名称">
          <el-input v-model="form.params.name" />
        </el-form-item>
        <el-form-item label="地址">
          <el-input v-model="form.params.address" />
        </el-form-item>
        <el-form-item label="状态">
          <el-col v-if="form.params.state === 1">
            审核中
          </el-col>
          <el-col v-else-if="form.params.state === 2">
            审核成功
          </el-col>
          <el-col v-else>
            审核失败
          </el-col>
        </el-form-item>
        <el-form-item label="审核时间">
          <el-input v-model="form.params.update_time" />
        </el-form-item>
        <el-form-item label="公司logo">
          <el-image :src="form.params.logo_url" />
        </el-form-item>
        <el-form-item label="法人正面身份证">
          <el-image :src="form.params.id_card_f" />
        </el-form-item>
        <el-form-item label="法人反面身份证">
          <el-image :src="form.params.id_card_r" />
        </el-form-item>
        <el-form-item label="营业执照">
          <el-image :src="form.params.business_license" />
        </el-form-item>
      </el-form>

      <template #footer>
        <el-button @click="form.visible = false">
          确认
        </el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TableVo from '@/models/vos/TableVo'
import UserApi from '@/api/UserApi'
import FormVo from '@/models/vos/FormVo'

    /**
     * 医院申请管理
     */
    @Component({})
export default class HospitalRequestManage extends Vue {
        table = new TableVo({
          state: ''
        });
        public form = new FormVo({
          id: '',
          member_id: '',
          category: '',
          name: '',
          contact_person: '',
          business_license: '',
          id_card_f: '',
          id_card_r: '',
          logo_url: '',
          icon: '',
          head_img: '',
          contact_way: '',
          address: '',
          creation_time: ''
        });

        isShowColumn(state: number, state1: number) {
          return state === state1
        }
        // 申请状态
        get requestState() {
          return [{ value: '1', label: '审核中' }, { value: '2', label: '审核成功' }, { value: '3', label: '审核失败' }]
        }
        onSizeChange(size: number) {
          this.table.size = size
          this.requestRequestTable()
        }
        onPageChange(page: number) {
          this.table.page = page
          this.requestRequestTable()
        }
        mounted() {
          this.requestRequestTable()
        }
        async requestRequestTable(resetPage = false) {
          this.table.loading = true
          if (resetPage) {
            this.table.page = 1
          }
          let vo = await UserApi.getHospitalRequestList(this.table.getParams())
          this.table.setByTableDataVo(vo)
          this.table.loading = false
        }
        /**
         * 审核通过
         */
        async onClickRequest(id: number, state: number) {
          this.$confirm('该审核是否确定通过?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            if (!id || !state || this.table.loading) {
              return false
            }
            this.table.loading = true
            let isDone = UserApi.updateHospitalRequest({ 'id': id, 'state': state })
            if (isDone) {
              this.requestRequestTable()
            }
            this.table.loading = false
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            })
          })
        }

        detailsTable(row: any) {
          this.form.params.id = row.id
          this.form.params.member_id = row.member_id
          this.form.params.category = row.category
          this.form.params.name = row.name
          this.form.params.contact_person = row.contact_person
          this.form.params.business_license = row.business_license
          this.form.params.logo_url = row.logo_url
          this.form.params.head_img = row.head_img
          this.form.params.id_card_f = row.id_card_f
          this.form.params.id_card_r = row.id_card_r
          this.form.params.contact_way = row.contact_way
          this.form.params.address = row.address
          this.form.params.state = row.state
          this.form.params.creation_time = row.creation_time
          this.form.params.update_time = row.update_time
          this.form.visible = true
        }
}
</script>

<style lang="scss">
    @import "../../assets/css/common";

    .app-container {
        .hospital-request-manage {
        }
    }
</style>
