<template>
  <div class="app-container">
    <div class="agent-manage">
      <el-input
        v-model="table.params.username"
        clearable
        size="mini"
        placeholder="代理搜索"
        style="width: 200px;"
        @keyup.native.enter="requestAgentTable(true)"
      />
      <el-select
        v-model="table.params.state"
        filterable
        clearable
        placeholder="申请状态"
        style="width: 120px;"
      >
        <el-option
          v-for="item in requestState"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-button
        type="primary"
        size="mini"
        icon="el-icon-search"
        :loading="table.loading"
        @click="requestAgentTable(true)"
      >
        搜索
      </el-button>
      <el-button
        icon="el-icon-refresh"
        circle
        :loading="table.loading"
        @click="requestAgentTable(true)"
      />
    </div>
    <el-table
      :data="table.rows"
      stripe
    >
      <el-table-column
        label="ID"
        prop="id"
        width="80"
      />
      <el-table-column
        label="申请用户"
        prop="member_id"
      />
      <el-table-column
        label="申请姓名"
        prop="username"
      />
      <el-table-column
        label="联系电话"
        prop="contact_phone"
      />
      <el-table-column
        label="状态"
      >
        <template #default="props">
          <el-col v-if="props.row.state === 1">
            审核中
          </el-col>
          <el-col v-else-if="props.row.state === 2">
            审核成功
          </el-col>
          <el-col v-else>
            审核失败
          </el-col>
        </template>
      </el-table-column>
      <el-table-column
        label="申请时间"
        prop="creation_time"
      />
      <el-table-column
        label="审核时间"
        prop="update_time"
      />
      <el-table-column
        label="操作"
      >
        <template #default="props">
          <el-button
            v-show="isShowColumn(props.row.state, 1)"
            type="primary"
            @click="onClickAgent(props.row.id, 2)"
          >
            申请成功
          </el-button>
          <el-button
            v-show="isShowColumn(props.row.state, 1)"
            type="danger"
            style="margin-left: 0;"
            @click="onClickAgent(props.row.id, 3)"
          >
            申请失败
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="table.page"
      :page-size="table.size"
      :total="table.count"
      :page-sizes="[10, 20, 50, 100, 200, 500]"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="onSizeChange"
      @current-change="onPageChange"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TableVo from '@/models/vos/TableVo'
import UserApi from '@/api/UserApi'
import FormVo from '@/models/vos/FormVo'

    /**
     * 医院管理
     */
    @Component({})
export default class AgentManage extends Vue {
        table = new TableVo({
        });
        public form = new FormVo({
        });
        isShowColumn(state: number, state1: number) {
          return state === state1
        }
        // 申请状态
        get requestState() {
          return [{ value: '1', label: '审核中' }, { value: '2', label: '审核成功' }, { value: '3', label: '审核失败' }]
        }
        onSizeChange(size: number) {
          this.table.size = size
          this.requestAgentTable()
        }
        onPageChange(page: number) {
          this.table.page = page
          this.requestAgentTable()
        }
        mounted() {
          this.requestAgentTable()
        }
        async requestAgentTable(resetPage = false) {
          this.table.loading = true
          if (resetPage) {
            this.table.page = 1
          }
          let vo = await UserApi.getAgentList(this.table.getParams())
          this.table.setByTableDataVo(vo)
          this.table.loading = false
        }
        /**
         * 更新代理商申请
         */
        async onClickAgent(id: number, state: number) {
          this.$confirm('确定申请成功?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            if (!id || !state || this.table.loading) {
              return false
            }
            this.table.loading = true
            let isDone = UserApi.updateAgent({ 'id': id, 'state': state })
            if (isDone) {
              this.requestAgentTable()
            }
            this.table.loading = false
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            })
          })
        }
}
</script>

<style lang="scss">
    @import "../../assets/css/common";

    .app-container {
        .agent-manage {
        }
    }
</style>
