// 通用flex布局（从左往右布局，空间不足则整块挤到下方）
.ga-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

$ColorLotteryYes: #ee0a24; //已派奖
$ColorLotteryNot: #dbd4cc; //未开奖
$ColorLotteryNotIn: #07c160; //未中奖

$color : #ffffff;
$ColorBgBlue: #0cc9e7; // 背景颜色：蓝色
$ColorBgGreen: #069b4d; // 背景颜色：绿色
$ColorYellow: #e1964a; // 背景颜色：黄色
$ColorRed: #db3548; // 背景颜色：红色
