<template>
  <div class="app-container">
    <el-table
      v-loading="table.loading"
      :data="table.rows"
      stripe
    >
      <el-table-column
        label="配置名"
        prop="cfg_name"
      />
      <el-table-column
        label="所需值"
        width="180"
      >
        <template #default="props">
          <el-input
            v-model="props.row.cfg_value"
            size="small"
            placeholder="所需值"
            @change="handleEdit(props.row)"
          />
        </template>
      </el-table-column>
      <el-table-column
        label="多文字使用（例如首页AI文案）"
      >
        <template #default="props">
          <el-input
            v-model="props.row.cfg_content"
            size="small"
            placeholder="多文字使用（例如首页AI文案）"
            @change="handleEdit(props.row)"
          />
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import HttpUtil from '@/utils/HttpUtil'
import TableVo from '@/models/vos/TableVo'
import TableDataVo from '@/models/vos/TableDataVo'
import FormVo from '@/models/vos/FormVo'

    /**
     * 配置管理
     */
    @Component({})
export default class InfoConfigManage extends Vue {
        public form = new FormVo({
        });
        /**
         * 表格数据
         */
        public table = new TableVo({
        });
        /**
         * 渲染后执行的方法
         */
        async mounted() {
          await this.requestInfoConfig()
        }

        public async handleEdit(row: any) {
          if (this.table.loading) {
            return
          }
          this.table.loading = true
          let isDone = await HttpUtil.post('user/update-info-config', row)
          if (isDone) {
            this.table.loading = false
            this.requestInfoConfig()
          }
        }
        /**
         * table信息
         */
        public async requestInfoConfig() {
          if (this.table.loading) {
            return
          }
          this.table.loading = true
          let vo = await HttpUtil.post('user/get-info-config-list')
          if (!vo.isDone()) {
            return new TableDataVo()
          }
          this.table.rows = vo.d
          this.table.loading = false
        }
}
</script>

<style lang="scss">
</style>
