<template>
  <div class="app-container">
    <div class="filter-container" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import AccountManageUserTable from '@/views/account-manage/AccountManageUserTable.vue'
import { UserStore } from '@/store/modules/UserStore'
import CommonUtil from '@/utils/CommonUtil'

    @Component({
      components: { AccountManageUserTable }
    })
export default class AccountManage extends Vue {
        /**
         * 当前激活的标签名字
         */
        public activeTabPane: string = 'userTable_1';

        /**
         * 当前登录用户的用户类型
         */
        public get userType(): number {
          return UserStore.userType
        }
        /**
         * 当前登录用户的id
         */
        public get userId(): number {
          return UserStore.id
        }
        /**
         * 当前页签的用户类型
         */
        public get paneUserType(): number {
          if (CommonUtil.isEmpty(this.activeTabPane)) {
            return 0
          }
          let tmpArr = this.activeTabPane.split('_')
          if (tmpArr.length !== 2) {
            return 0
          }
          return Number(tmpArr[1])
        }

        /**
         * 监听当前活跃页签的变化
         */
        @Watch('activeTabPane')
        public watchActiveTabPane() {
          this.refreshTable()
        }

        /**
         * 渲染后执行的方法
         */
        mounted() {
          this.refreshTable()
        }

        /**
         * 刷新表格数据
         * @param upType （可选。如果要填需要两个都填）表格的上级类型
         * @param upId （可选。如果要填需要两个都填）表格的上级id。默认是看到登录账号可以看到的所有
         */
        public refreshTable(upType: number|string = '', upId: number|string = '') {
          setTimeout(() => {
            let tmpArr = (this.$refs[this.activeTabPane] as Array<AccountManageUserTable>)
            if (tmpArr === undefined || tmpArr.length === 0) {
              return
            }
            let userTableVue = tmpArr[0]
            // @ts-ignore
            userTableVue.refresh(upType, upId)
          })
        }
}
</script>

<style lang="scss" scoped>

</style>
