<template>
  <div class="app-container">
    <div class="admin-manage">
      <el-button
        icon="el-icon-refresh"
        circle
        :loading="table.loading"
        @click="requestAdminTable(true)"
      />
    </div>
    <el-table
      :data="table.rows"
      stripe
    >
      <el-table-column
        label="管理员ID"
        prop="id"
      />
      <el-table-column
        label="最近登录时间"
        prop="login_time"
      />
      <el-table-column
        label="最近登录ip"
        prop="login_ip"
      />
      <el-table-column
        label="上次登录时间"
        prop="last_login_time"
      />
      <el-table-column
        label="上次登录IP"
        prop="last_login_ip"
      />
    </el-table>
    <el-pagination
      :current-page="table.page"
      :page-size="table.size"
      :total="table.count"
      :page-sizes="[10, 20, 50, 100, 200, 500]"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="onSizeChange"
      @current-change="onPageChange"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TableVo from '@/models/vos/TableVo'
import UserApi from '@/api/UserApi'

    /**
     * 管理员管理
     */
    @Component({})
export default class AdminManage extends Vue {
        table = new TableVo({
        });
        onSizeChange(size: number) {
          this.table.size = size
          this.requestAdminTable()
        }
        onPageChange(page: number) {
          this.table.page = page
          this.requestAdminTable()
        }
        mounted() {
          this.requestAdminTable()
        }
        async requestAdminTable(resetPage = false) {
          this.table.loading = true
          if (resetPage) {
            this.table.page = 1
          }
          let vo = await UserApi.getAdminList(this.table.getParams())
          this.table.setByTableDataVo(vo)
          this.table.loading = false
        }
}
</script>

<style lang="scss">
    @import "../../assets/css/common";

    .app-container {
        .admin-manage {
        }
    }
</style>
