<template>
  <div class="app-container">
    <div class="user-manage">
      <el-input
        v-model="table.params.username"
        clearable
        size="mini"
        placeholder="用户搜索"
        style="width: 200px;"
        @keyup.native.enter="requestUserTable(true)"
      />
      <el-button
        type="primary"
        size="mini"
        icon="el-icon-search"
        :loading="table.loading"
        @click="requestUserTable(true)"
      >
        搜索
      </el-button>
      <el-button
        icon="el-icon-refresh"
        circle
        :loading="table.loading"
        @click="requestUserTable(true)"
      />
    </div>
    <el-table
      :data="table.rows"
      stripe
    >
      <el-table-column
        label="用户ID"
        prop="id"
      />
      <el-table-column
        label="用户佣金"
        prop="brokerage"
      />
      <el-table-column
        label="微信名"
        prop="username"
      />
      <el-table-column
        label="上级"
        prop="superior"
      />
      <el-table-column
        label="下级"
        prop="subordinate"
      />
      <el-table-column
        label="医院账户"
        prop="is_hospital"
      />
      <el-table-column
        label="代理商账户"
        prop="is_agent"
      />
      <el-table-column
        label="注册时间"
        prop="creation_time"
      />
    </el-table>
    <el-pagination
      :current-page="table.page"
      :page-size="table.size"
      :total="table.count"
      :page-sizes="[10, 20, 50, 100, 200, 500]"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="onSizeChange"
      @current-change="onPageChange"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TableVo from '@/models/vos/TableVo'
import UserApi from '@/api/UserApi'

    /**
     * 用户管理
     */
    @Component({})
export default class UserManage extends Vue {
        table = new TableVo({
        });
        onSizeChange(size: number) {
          this.table.size = size
          this.requestUserTable()
        }
        onPageChange(page: number) {
          this.table.page = page
          this.requestUserTable()
        }
        mounted() {
          this.requestUserTable()
        }
        async requestUserTable(resetPage = false) {
          this.table.loading = true
          if (resetPage) {
            this.table.page = 1
          }
          let vo = await UserApi.getUserList(this.table.getParams())
          this.table.setByTableDataVo(vo)
          this.table.loading = false
        }
}
</script>

<style lang="scss">
    @import "../../assets/css/common";

    .app-container {
        .user-manage {
        }
    }
</style>
