<template>
  <div class="app-container">
    <div class="home">
      <el-card class="home-personal-info">
        <el-row>
          <el-col :span="4">
            <div class="grid-content bg-purple">
              用户名称：{{ userName }}
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content bg-purple">
              本次登录：{{ loginTime }}
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content bg-purple">
              本次登录IP：{{ loginIp }}
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content bg-purple-light">
              上次登录：{{ lastLoginTime }}
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content bg-purple">
              上次登录IP：{{ lastLoginIp }}
            </div>
          </el-col>
        </el-row>
      </el-card>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { UserStore } from '@/store/modules/UserStore'

    /**
     * 首页
     */
    @Component({})
export default class Home extends Vue {
        bgColor: string = ''; // el-col 背景色
        statVos: any = [];

        /**
         * 用户名字
         */
        get userName(): string {
          return UserStore.name
        }

        /**
         * 登录时间
         */
        get loginTime(): string {
          return UserStore.homeVo.loginTime
        }

        /**
         * 登录IP
         */
        get loginIp(): string {
          return UserStore.homeVo.loginIp
        }

        /**
         * 上次登录时间
         */
        get lastLoginTime(): string {
          return UserStore.homeVo.lastLoginTime
        }

        /**
         * 上次登录IP
         */
        get lastLoginIp(): string {
          return UserStore.homeVo.lastLoginIp
        }
}
</script>

<style lang="scss">
    @import "../../assets/css/common";

    .app-container {
        .home-personal-info {
            margin-bottom: 15px;
        }

        .home-stat-table {
            .el-row {
                margin-bottom: 15px;

                .el-col {
                    height: 100px;
                    width: 23%;
                    padding-left: 10px;
                    margin-bottom: 15px;
                    color: $color;
                }
                .home-el-col {
                    margin-right: 30px;
                }
            }

            .home-radio {
                margin-bottom: 10px;

                .el-radio {
                    margin-right: 0;
                }
            }
        }
    }
</style>
