<template>
  <div class="app-container">
    <div class="brokerage-manage">
      <el-select
        v-model="table.params.state"
        filterable
        clearable
        placeholder="状态"
        style="width: 120px;"
      >
        <el-option
          v-for="item in requestState"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-select
        v-model="table.params.br_type"
        filterable
        clearable
        placeholder="变动类型"
        style="width: 120px;"
      >
        <el-option
          v-for="item in requestType"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-button
        type="primary"
        size="mini"
        icon="el-icon-search"
        :loading="table.loading"
        @click="getBrokerageList(true)"
      >
        搜索
      </el-button>
      <el-button
        icon="el-icon-refresh"
        circle
        :loading="table.loading"
        @click="getBrokerageList(true)"
      />
    </div>
    <el-table
      :data="table.rows"
      stripe
    >
      <el-table-column
        label="ID"
        prop="id"
        width="50"
      />
      <el-table-column
        label="用户名"
        prop="username"
      />
      <el-table-column
        label="变动金额"
        prop="amount"
      />
      <el-table-column
        label="变动类型"
        prop="type_label"
      />
      <el-table-column
        label="状态"
        prop="state_label"
      />
      <el-table-column
        label="银行卡号"
        prop="bank_number"
      />
      <el-table-column
        label="银行卡姓名"
        prop="bank_username"
      />
      <el-table-column
        label="手机"
        prop="phone"
      />
      <el-table-column
        label="提交时间"
        prop="creation_time"
      />
      <el-table-column
        label="操作时间"
        prop="update_time"
      />
      <el-table-column
        label="操作"
      >
        <template #default="props">
          <el-button
            v-show="props.row.showColumn"
            type="primary"
            @click="onClickRequest(props.row.id, 2)"
          >
            完成
          </el-button>
          <el-button
            v-show="props.row.showColumn"
            type="primary"
            style="margin-left: 0;"
            @click="onClickRequest(props.row.id, 3)"
          >
            失败
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="table.page"
      :page-size="table.size"
      :total="table.count"
      :page-sizes="[10, 20, 50, 100, 200, 500]"
      layout="total, sizes, prev, pager, next, jumper"
      @size-change="onSizeChange"
      @current-change="onPageChange"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import TableVo from '@/models/vos/TableVo'
import UserApi from '@/api/UserApi'

    /**
     * 佣金管理
     */
    @Component({})
export default class BrokerageManage extends Vue {
        table = new TableVo({
          br_type: '',
          state: ''
        });

        // 状态
        get requestState() {
          return [{ value: '1', label: '申请中' }, { value: '2', label: '已完成' }, { value: '3', label: '已失败' }]
        }
        // 变动类型
        get requestType() {
          return [{ value: '1', label: '入账佣金' }, { value: '2', label: '提现佣金' }]
        }
        onSizeChange(size: number) {
          this.table.size = size
          this.getBrokerageList()
        }
        onPageChange(page: number) {
          this.table.page = page
          this.getBrokerageList()
        }
        mounted() {
          this.getBrokerageList()
        }
        async getBrokerageList(resetPage = false) {
          this.table.loading = true
          if (resetPage) {
            this.table.page = 1
          }
          let vo = await UserApi.getBrokerageList(this.table.getParams())
          this.table.setByTableDataVo(vo)
          this.table.loading = false
        }
        /**
         * 审核申请
         */
        async onClickRequest(id: number, state: number) {
          this.$confirm('确定审核?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            if (!id || !state || this.table.loading) {
              return false
            }
            this.table.loading = true
            let isDone = UserApi.updateWithdraw({ 'id': id, 'state': state })
            if (isDone) {
              this.getBrokerageList()
            }
            this.table.loading = false
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消'
            })
          })
        }
}
</script>

<style lang="scss">
    @import "../../assets/css/common";

    .app-container {
    }
</style>
