<template>
    <div class="ga-countdown">
        <el-checkbox v-model="isRunning">{{ getRemainSecond }} {{ suffix }}</el-checkbox>
    </div>
</template>

<script lang="ts">
    import {Component, Prop, Vue} from 'vue-property-decorator'
    import TimeUtil from "@/utils/TimeUtil";

    /**
     * 倒计时按钮
     *
     * 事件：
     *  名字              参数              说明
     *  finished          -                 倒计时完成时（即为0时）
     */
    @Component({})
    export default class GaCountdown extends Vue {
        /**
         * 每隔多少秒触发一次
         */
        @Prop({required: false, type: Number, default: 5})
        second!: number;
        /**
         * 后缀文字
         */
        @Prop({required: false, type: String, default: "自动刷新"})
        suffix!: string;


        /**
         * 完成时间
         */
        finishedTimestamp: number = TimeUtil.timestamp();
        /**
         * 是否暂停
         */
        isRunning: boolean = false;
        /**
         * 定时器运行时间间隔
         */
        interval: number = 1;
        /**
         * 定时器
         */
        timer?: NodeJS.Timeout = undefined;
        /**
         * 剩余秒数
         */
        remainSecond: number = 0;


        /**
         * 剩余秒数
         */
        get getRemainSecond(): number {
            return this.remainSecond > 0 ? this.remainSecond : 0;
        }


        /**
         * 启动定时器
         */
        start() {
            this.timer = setInterval(() => {
                if (!this.isRunning) {
                    // 暂停
                    return;
                }

                let timestamp = TimeUtil.timestamp();
                this.remainSecond = this.finishedTimestamp - timestamp;
                if (this.remainSecond <= 0) {
                    this.finishedTimestamp = timestamp + this.second;
                    this.$emit("finished");
                }
            }, this.interval * 1000);
        }
        /**
         * 暂停
         */
        pause() {
            this.isRunning = false;
        }
        /**
         * 继续
         */
        resume() {
            this.isRunning = true;
        }
        /**
         * 停止定时器
         */
        stop() {
            if (this.timer !== undefined) {
                clearInterval(this.timer);
            }
        }


        /**
         * 创建时
         */
        created() {
            // 获取指定秒数后的时间对象
            this.finishedTimestamp += this.second;
        }
        /**
         * 组件渲染完成
         */
        mounted() {
            this.start();
        }
        /**
         * 组件销毁
         */
        destroyed() {
            this.stop();
        }
        /**
         * 组件激活
         */
        activated() {
            this.resume();
        }
        /**
         * 组件失活
         */
        deactivated() {
            this.pause()
        }
    }
</script>

<style lang="scss" scoped>
    .ga-countdown {
        display: inline-block;
        padding: 0 5px;
    }
</style>
