<template>
    <div class="dashboard-container">
        <div class="dashboard-text">
            昵称:{{ name }}
        </div>
        <div class="dashboard-text">
            角色权限:<span
                v-for="role in roles"
                :key="role"
        >{{ role }}</span>
        </div>
        <div class="dashboard-text">
            上次登录时间: ..  IP: ..
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator'
    import { UserStore } from '@/store/modules/UserStore'


    @Component({
        name: 'Dashboard'
    })
    export default class extends Vue {
        get name() {
            return UserStore.name
        }

        get roles() {
            return UserStore.roles
        }
    }
</script>

<style lang="scss" scoped>
    .dashboard {
        &-container {
            margin: 30px;
        }

        &-text {
            font-size: 30px;
            line-height: 46px;
        }
    }
</style>
